.sig-card {
  max-width: 600px;

  border: 1px solid #cf3030;
  border-radius: 14px;
  padding: 15px;
  font-family: Arial, sans-serif;
  margin: auto;
  justify-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  background: linear-gradient(-45deg, #444, #0097e6);
}

.sig-card .sig-top .sig-left {
  border-right: 2px solid #fd0303;
  padding-right: 30px;
}
/* TOP AREA */
.sig-top {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

/* LEFT PHOTO */
.sig-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #1a4da1;
}

.sig-left {
  flex-shrink: 0;
}

/* RIGHT INFORMATION */
.sig-name {
  margin: 0;
  color: #0a3a7a;
  font-size: 22px;
  font-weight: bold;
}

.sig-info {
  margin: 3px 0;
  font-size: 14px;
}

.sig-info span {
  font-weight: bold;
  margin-right: 5px;
}

.social a {
  display: inline-block;
  margin-right: 6px;
  font-size: 20px;
  text-decoration: none;
}

/* FOOTER SECTION INSIDE SAME CARD */
.footer-content {
  text-align: center;
  background: #000;
  color: #fff;
  margin-top: 15px;
  border-radius: 10px;
  padding: 15px;
}

.footer-content h3 {
  margin: 0;
  font-size: 22px;
}

.footer-content p {
  margin: 5px 0 15px 0;
  font-size: 12px;
}

/* BUTTONS */
.btn-area {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  background: #c0aa67;
  padding: 8px 12px;
  text-decoration: none;
  color: #000;
  font-size: 12px;
  border-radius: 5px;
  font-weight: bold;
}

.btn.dark {
  background: #333;
  color: #fff;
}

/* RESPONSIVE */
@media (max-width: 480px) {
  .sig-top {
    flex-direction: column;
    text-align: center;
  }

  .btn-area {
    flex-direction: column;
  }
  .sig-card .sig-top .sig-left {
    padding-left: 40px;
    padding-bottom: 20px;
    border-right: #dad6d6;
    border-bottom: 2px solid #fd0303;
  }
  .sig-info {
    text-align: left;
  }
}
