* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(-45deg, #444, #0097e6); */
  background: #333;
}
.container .email-signature {
  width: 750px;
  border-radius: 5px;
  background: #222;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 5px #000;
  padding: 10px 40px;
  position: relative;
  overflow: hidden;
}
.container .email-signature .image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 0 5px #333;
  position: relative;
}
.container .email-signature .image::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 70%;
  height: 300px;
  width: 300px;
  background: #f0f0f0;
  border-radius: 50%;
  box-shadow: 20px 0 0 #2c3e50;
}
.container .email-signature .content {
  padding-left: 80px;
}
.container .email-signature .content .tittl {
  padding-left: 10px;
  font-size: 25px;
  color: #f0f0f0;
}
.container .email-signature .content .post {
  padding: 10px 0;
  font-size: 15px;
  color: #333;
  margin: 10px 5px;
  border-radius: 50px;
  background-color: #ccc;
  text-align: center;
}
.container .email-signature .content .info li {
  list-style: none;
  margin: 10px 0;
  color: #ccc;
  font-weight: 600;
  letter-spacing: 2px;
}
.container .email-signature .content .info li i {
  height: 35px;
  width: 35px;
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
  background-color: #2c3e50;
  margin-right: 10px;
  color: #fff;
}
.container .email-signature .content .icons {
  position: absolute;
  top: 15%;
  right: 25px;
  transform: translate(0-50%);
  display: flex;
  flex-flow: column;
}
.container .email-signature .content .icons a {
  text-decoration: none;
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  background: #2c3e50;
  color: #fff;
  border-radius: 50%;
  margin: 5px 0;
}
@media (max-width: 768px) {
  .container .email-signature {
    flex-flow: column;
    max-width: 350px;
    /* margin: 0 10px;
    padding: 0 25px; */
  }
  .container .email-signature .image::before {
    width: 100%;
    top: -25%;
    left: 0px;
    box-shadow: 0 15px 0 #2c3e50;
  }
  .container .email-signature .content {
    width: 100%;
    text-align: center;
    padding: 50px 0;
  }
  .container .email-signature .content .info li {
    text-align: left;
  }
  .container .email-signature .content .icons {
    top: 90%;
    right: 0;
    width: 100%;
    flex-flow: row;
    justify-content: center;
  }
  .container .email-signature .content .icons a {
    margin: 0 5px;
  }
}
