* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.box-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
  background-image: url(../img/index-1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;

  padding-bottom: 150px;
}
.box {
  width: 700px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 5px 15px #0009;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.2);
  overflow: hidden;
}
.image {
  padding: 60px;
  margin-right: 40px;
  box-sizing: 0 50px 50px 0;
  background: #fff2;
  height: 270px;
}
.box-container .box .image img {
  height: 150px;
  width: 150px;
  border-radius: 0 50px 0 50px;
  box-shadow: 0 0 0 10px;
}
.title {
  color: #fff;
  padding: 5px;
  font-size: 33px;
  text-transform: capitalize;
}
.post {
  display: block;
  font-size: 20px;
  color: #fff;
  margin-bottom: 30px;
}
.post {
  display: block;
  font-size: 20px;
  color: #fff;
  margin-bottom: 30px;
}
a {
  display: block;
  color: #fff9;
  font-size: 20px;
}
.to {
  color: #fff;
  padding: 7px 5px;
}
.share {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translate(0, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background: #fff3;
  border-radius: 50px;
  height: 220px;
  width: 40px;
}
.share a {
  margin: 15px;
  color: rgba(19, 18, 18, 0.6);
  font-size: 23px;
}
@media (max-width: 768px) {
  .box {
    flex-flow: column;
    padding-bottom: 100px;
    margin: 20px;
    max-width: 330px;
  }
  .box-container .box .image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    border-radius: 0 0 50px 50px;
    text-align: center;
  }
  .share {
    left: 50%;
    top: 87%;
    transform: translate(-50%, 0);
    height: 45px;
    width: 240px;
    flex-flow: row;
  }
}
